.row div {

}

.btn-sq {
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.mh1 div {
    height: 15vh; /* 15% of viewport height*/
}

.display {
    background-color: lightgrey;
}

.top-buffer { margin-top:20px; }