.vertical-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.container {
    width: 600px;
}

.row div {
border: 1px solid hotpink;
}

.btn-sq {
    width: 70px !important;
    height: 70px !important;
    font-size: 2rem;
}

.mh1 div {
    height: 15vh; /* 15% of viewport height*/
}

.display {
    background-color: lightgrey;
    display: table;
    text-align: right;
}

.display-child {
    display: table-cell;
    vertical-align: middle;
    font-size: 2rem;
}

.top-buffer { margin-top: 20px; }
